In [1]:
# dictionary
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [2]:
# d = {<key>:<value>, <key>:<value>,...}

In [7]:
d = {'a':'apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [6]:
print(d['c'])

Cat

In [9]:
d = {'a':'apple','b':'Ball','c':'Cat','C':'cat'}
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'C': 'cat'}

In [11]:
a = {'a':'apple','b':'Ball','c':'Cat'}
b = {1:1,2:4,3:9}
c = a+b
print(c)

In [12]:
a = {'a':'apple','b':'Ball','c':'Cat'}
b = {1:1,2:4,3:9}
a.update(b)
print(a)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 1: 1, 2: 4, 3: 9}

In [14]:
a = {'a':'apple','b':'Ball','c':'Cat'}
for i in a:
    print(i, end = " ")

a b c

In [15]:
a = {'a':'apple','b':'Ball','c':'Cat'}
for i in a.values():
    print(i, end = " ")

apple Ball Cat

In [16]:
a = {'a':'apple','b':'Ball','c':'Cat'}
for i in a.items():
    print(i, end = " ")

('a', 'apple') ('b', 'Ball') ('c', 'Cat')

In [17]:
# create
#d = dict()
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [20]:
#update
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['a'] = 'Ant'
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [21]:
#del pop()
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
del d['a']
print(d)

{'b': 'Ball', 'c': 'Cat'}

In [23]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
b = d.pop('a')
print(b)
print(d)

Apple
{'b': 'Ball', 'c': 'Cat'}

In [24]:
info = {'Ram':98478654,'Shyam':9808778654,'Hari':9867665654}
info

{'Ram': 98478654, 'Shyam': 9808778654, 'Hari': 9867665654}

In [25]:
# list inside dict
info = {'Ram':[945667654,9808778765],
        'Shyam':[9845667876,9808778765],
        'Hari':[9845667654,9808778765]}
info

{'Ram': [945667654, 9808778765],
 'Shyam': [9845667876, 9808778765],
 'Hari': [9845667654, 9808778765]}

In [27]:
print(info['Ram'])
print(info['Ram'][0])

[945667654, 9808778765]
945667654

In [28]:
info['Ram'][0] = 9845665781
info

{'Ram': [9845665781, 9808778765],
 'Shyam': [9845667876, 9808778765],
 'Hari': [9845667654, 9808778765]}

In [30]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    d[name] = [ntc,ncell]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9856556543
Enter ncell no = 9808667654
Enter name = Shyam
Enter ntc no = 9845676543
Enter ncell no = 9808667654
{'Ram': ['9856556543', '9808667654'], 'Shyam': ['9845676543', '9808667654']}

In [31]:
d = {'name':["Ram","Shyam"],
    'ntc':[9848778765,9848667654],
    'ncell':[9808667654,9808778765]}

print(d['name'][0],d['ntc'][0],d['ncell'][0])

Ram 9848778765 9808667654

In [1]:
d = {'name':[],
    'ntc':[],
    'ncell':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9845667654
Enter ncell no = 9808778765
Enter name = Shyam
Enter ntc no = 9867665432
Enter ncell no = 9808778765
{'name': ['Ram', 'Shyam'], 'ntc': ['9845667654', '9867665432'], 'ncell': ['9808778765', '9808778765']}

In [2]:
# dict inside list
d = [{'name':'Ram','age':34,'add':"Kathmandu"},
    {'name':'Shyam','age':66,'add':"Bhaktapur"},
    {'name':'Hari','age':33,'add':"Lalitpur"},
    {'name':'Sita','age':24,'add':"Kathmandu"}]
print(d)

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 66, 'add': 'Bhaktapur'}, {'name': 'Hari', 'age': 33, 'add': 'Lalitpur'}, {'name': 'Sita', 'age': 24, 'add': 'Kathmandu'}]

In [4]:
print(d[0])
print(d[0]['name'])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
Ram

In [9]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    d = {'name':name,'ntc':ntc,'ncell':ncell}
    l.append(d)
print(l)

In [6]:
l

[{'name': 'Ram', 'ntc': '9808778765', 'ncell': '9840998765'},
 {'name': 'Shyam', 'ntc': '9845778765', 'ncell': '98087776543'}]

In [8]:
l[1]

{'name': 'Shyam', 'ntc': '9845778765', 'ncell': '98087776543'}

In [10]:
del l[1]

In [11]:
l

[{'name': 'Ram', 'ntc': '9808778765', 'ncell': '9840998765'}]

In [13]:
#dict inside dict
info = {1:{'name':'Ram','age':34,"add":"Kathmandu"},
       2:{'name':'Shyam','age':24,"add":"Bhaktapur"},
       3:{'name':'Hari','age':14,"add":"Lalitpur"}}
info

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 24, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 14, 'add': 'Lalitpur'}}

In [15]:
print(info[1])
print(info[1]['name'])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
Ram

In [16]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    info[i] = d 
print(info)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaltapur
{1: {'name': 'Ram', 'age': '78', 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaltapur'}}

In [18]:
info[3] = {'name': 'Akash', 'age': '18', 'add': 'Kathmandu'}

In [19]:
info

{1: {'name': 'Ram', 'age': '78', 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaltapur'},
 3: {'name': 'Akash', 'age': '18', 'add': 'Kathmandu'}}

In [20]:
info[3]['add'] = {'per':'Dhading','temp':'Kathmandu'}
info

{1: {'name': 'Ram', 'age': '78', 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaltapur'},
 3: {'name': 'Akash',
  'age': '18',
  'add': {'per': 'Dhading', 'temp': 'Kathmandu'}}}