In [1]:
# Python data collection
#list
#tuple
#dict
#set

In [2]:
# list
# -indexing
# -Multiple and duplicate data
# -Ordered
# -Mutable

In [3]:
#l = list()
l = ["Apple","Ball","Cat","Dog","Fish"]
a = [1,2,3,4,5,6,7,8,9,0]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [8]:
l = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(l)
print(l[0])
print(l[0:4])
print(l[0:5:2])

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [9]:
a = [1,2,3,4]
b = [5,6,7,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [12]:
l = ["Apple","Ball","Cat","Dog","Fish","Apple"]
for i in l:
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

In [13]:
l = ["Apple","Ball","Cat","Dog","Fish","Apple"]
search = input("Enter search = ")
if search in l:
    print("Yes")
    print(l.count(search))
else:
    print("No")

Enter search = Apple
Yes
2

In [14]:
# append() extend() insert()

In [15]:
a = []
a.append("Apple")
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [17]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)

print(l)

In [18]:
l = [13, 23, 123, 234, 12]
print("Maximum value = ",max(l))
print("Minimum value = ",min(l))
print("Sum of list = ",sum(l))
l.sort()
print(l)

Maximum value =  234
Minimum value =  12
Sum of list =  405
[12, 13, 23, 123, 234]

In [19]:
a = ["Ball","Zebra","Apple","Cat","ant"]
a.sort()
print(a)

['Apple', 'Ball', 'Cat', 'Zebra', 'ant']

In [20]:
a = ["Ball","Zebra","Apple","Cat","ant"]
a.insert(1,"zebra")
a

['Ball', 'zebra', 'Zebra', 'Apple', 'Cat', 'ant']

In [21]:
a = [1,2,3,4,5]
b = [6,7,8,9,0]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [22]:
#del remove() pop()

In [23]:
a = ["Ball","Zebra","Apple","Cat","ant"]
del a[0]
print(a)

['Zebra', 'Apple', 'Cat', 'ant']

In [24]:
a = ["Ball","Zebra","Apple","Cat","ant"]
del a[0:3]
print(a)

['Cat', 'ant']

In [28]:
#remove()
a = ["Ball","Zebra","Apple","Ball","Cat","ant","Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove("Ball")
print(a)

['Zebra', 'Apple', 'Cat', 'ant']

In [31]:
a = ["Ball","Zebra","Apple","Ball","Cat","ant","Ball"]
c = len(a)
for i in range(c):
    if "Ball" == a[i]:
        print(i)

0
3
6

In [1]:
# list inside list

In [2]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
a = [['Ram',45,'Kathmand'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',65,'Lalitpur']]
print(a)

[['Ram', 45, 'Kathmand'], ['Shyam', 67, 'Bhaktapur'], ['Hari', 65, 'Lalitpur']]

In [7]:
print(a[0])

['Ram', 45, 'Kathmand']

In [10]:
print(a[0][2])

Kathmand

In [11]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter add = "))
    add = input("Enter add = ")
    x = [name,age,add]
    l.append(x)
    
print(l)

Enter n = 2
Enter name = Ram
Enter add = 34
Enter add = Kathmandu
Enter name = Bharat
Enter add = 34
Enter add = Kathmandu
[['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]

In [12]:
l = [['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]
l.append(["Hari",23,"Lalitpur"])
l

[['Ram', 34, 'Kathmandu'],
 ['Bharat', 34, 'Kathmandu'],
 ['Hari', 23, 'Lalitpur']]

In [14]:
del l[2]

In [15]:
print(l)

[['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]

In [29]:
# search
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Ram', 23, 'Lalitpur']]

name = input("Enter name = ")
for i in l:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']
['Ram', 23, 'Lalitpur']

In [32]:
a = [["Apple"],["Ball"],["Cat"]]
for i in a:
    if "Apple" in i:
        print("Yes")

Yes

In [34]:
#Update
l = ['Ram', 34, 'Kathmandu']
l[0] = "Rama"
l

['Rama', 34, 'Kathmandu']

In [42]:
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Ram', 23, 'Lalitpur']]
l[0][0] = "Rama"
l

[['Rama', 34, 'Kathmandu'],
 ['Bharat', 34, 'Kathmandu'],
 ['Ram', 23, 'Lalitpur']]

In [43]:
# WAP to create a matrix by taking input from user
# r -> ?
# c -> ?
# x -> [[1,2,3],[4,5,6],[8,9,0]]
#y  -> []

In [45]:
x = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        z = int(input("Enter z = "))
        y.append(z)
    x.append(y)
print(x)

Enter r = 3
Enter c = 3
Enter z = 34
Enter z = 32
Enter z = 56
Enter z = 45
Enter z = 67
Enter z = 43
Enter z = 78
Enter z = 23
Enter z = 78
[[34, 32, 56], [45, 67, 43], [78, 23, 78]]

###