In [1]:
# for loop
# while loop

In [2]:
# for loop
#range(5)          #0,1,2,3,4    for(i = 0; i<5; i++;)
#range(1,5)        #1,2,3,4      for(i = 1; i<5; i++;)
#range(1,10,2)     #1,3,5,7,9    for(i = 1; i<10; i=i+2;)

In [4]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [9]:
for i in range(5,-1,-1):
    print(i,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [11]:
# WAP to create a multiplication table
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [12]:
# WAP to create a multiplication table
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
for i in range(5):
    x = int(input("Enter x = "))
    print("You entered ",x)

In [3]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    
print("sum = ",s)

Enter n = 3
Enter x = 123
Enter x = 234
Enter x = 123
sum =  3480

In [7]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x + "\n"
    
print(s)

Enter n = 3
Enter x = Ram
Enter x = Shyam
Enter x = Hari
Ram
Shyam
Hari

In [8]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name +" " + phone + "\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778654
Ram 9808778765
Shyam 9808778654

In [1]:
# for loop in string

In [8]:
a = "Hello World"
for i in a:
    print(i, end = "")

Hello World

In [4]:
a = "Hello World"
for i in a:
    print(i,"Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World
  Hello World
W Hello World
o Hello World
r Hello World
l Hello World
d Hello World

In [12]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Python

In [16]:
a = "Hello World! I am Python."
for i in a:
    if i != "." and i != "!" :
        print(i,end = "")

Hello World I am Python

In [14]:
for i in range(5):
    print(i*"o")

o
oo
ooo
oooo

In [27]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [30]:
a = "o"
print(a*(-1))

In [28]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")
for i in range(n,0,-1):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [31]:
# control statement
# break
# continue
# pass

In [32]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [34]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [35]:
for i in range(5):
    pass

In [37]:
a = "Hello World. I am Python."
for i in a:
    if i ==".":
        break
    print(i,end = "")

Hello World

In [38]:
a = "Hello World. I am Python."
for i in a:
    if i ==".":
        continue
    print(i,end = "")

Hello World I am Python

In [39]:
n = int(input("Enter n = "))
for i in range(1,n*11):
    if i%n !=0:
        continue
    print(i)

Enter n = 4
4
8
12
16
20
24
28
32
36
40

In [1]:
# while loop

In [2]:
# while <condition>:
#     <operations>

In [1]:
a = 0
while a<=5:
    print(a)
    a = a +1

0
1
2
3
4
5

In [3]:
a = 0
while a<5:
    print(a,"Hello World")
   # a = a +1
    a+=1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
# WAP to create a multiplication table
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
i = 0
s = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i = i + 1
print("sum = ",s)

Enter n = 3
Enter x = 123
Enter x = 123
Enter x = 324
sum =  570

In [7]:
# 5! = 1*2*3*4*5
i = 1
fac = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac * i
    i = i +1
    print(fac)

Enter n = 5
1
2
6
24
120

In [8]:
#s = str()
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name +" " + phone + "\n"
    i = i+1
print(s)

Enter n = 5
Enter name = 231
Enter phone = 345
Enter name = 23
Enter phone = 34
Enter name = 23
Enter phone = 34
Enter name = 32
Enter phone = 43
Enter name = 32
Enter phone = 354
231 345
23 34
23 34
32 43
32 354

In [1]:
# control statement in while loop
i = 0
while i<10:
    if i == 5:
        break
    print(i)
    i = i +1

0
1
2
3
4

In [1]:
# control statement in while loop
i = 0
while i<10:
    if i == 5:
        i = i+1
        continue
        
    print(i)
    i = i +1

0
1
2
3
4
6
7
8
9

In [ ]:
# control statement in while loop
i = 0
while i<10:
    
    print(i)
    i = i +0.5

In [ ]:
#WAP to find if the given number is prime or composite
# prime -> 2,3,5,7,11,13,17,19
# composite -> 4,6,8,9,10,12,