In [1]:
# string
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "hello World\n"
print(a*2)

hello World
hello World

In [7]:
a = "Hello World"
print(a[0])
print(a[-1])

H
d

In [9]:
a = "Hello World"
print(a[0:5])
print(a[0:10:2])

Hello
HloWr

In [10]:
a = "Hello World"
print(len(a))

11

In [12]:
a = "Hello World"
for i in range(len(a)):
    print(a[i], end = "")

Hello World

Hello World

In [ ]:
i = 0
a = "Hello World"
while i<len(a):
    print(a[i],end = "")
    i = i + 1

In [14]:
# string formatting
name = "Ram"
age = 67
add = "Kathmandu"

# info= "Hello World I am " + name + " I am from " + add + " I am " + str(age)
info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Hello world I am Ram. I am from Kathmandu. I am 67

In [16]:
#s = str()
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + f"{name} {phone}\n"
    i = i+1
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808345678
Ram 9808778765
Shyam 9808345678

In [20]:
# search in string
a = "Ram Shyam Hari Sita Gita Nabin"
search = input("Enter search value = ")
if search in a:
    print("Yes")
else:
    print("No")

Enter search value = ram
No

In [23]:
a = "Ram Shyam Hari Sita Gita Nabin"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA GITA NABIN
ram shyam hari sita gita nabin
Ram Shyam Hari Sita Gita Nabin

In [29]:
# search in string
a = "Ram Shyam Hari Sita Gita Nabin Ramesh".lower()
search = input("Enter search value = ").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter search value = Ramesh
Yes
1

In [30]:
#replace()
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a = a.replace('Ram','ram')
print(a)

ram Shyam Hari Sita Gita Nabin ramesh

In [31]:
#replace()
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a = a.replace('Ram ','ram ')
print(a)

ram Shyam Hari Sita Gita Nabin Ramesh

In [32]:
#replace()
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a = a.replace('Hari','')
print(a)

Ram Shyam  Sita Gita Nabin Ramesh

In [33]:
a = "Ram Shyam Hari Sita Gita Nabin Ramesh"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Nabin', 'Ramesh']

In [ ]:
i = 0
a = "Hello World I am python"
while i<len(a):
    print(a[i],end = "")
    i = i + 1