In [1]:
# # file
# file = open("<file_name>","<mode>")
# file.close()

# with open("<file_name>","<mode>") as file:
#     <operation>

# modes
# create -> 'x'
# read  -> 'r'
# write -> 'w'
# append -> 'a'

In [8]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there.")

The file is already there.

In [3]:
pwd

'C:\\Users\\Aayush\\Python-class-3pm'

In [12]:
file = open('data.txt','r')
data = file.read()
print(data)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [13]:
print(type(data))

<class 'str'>

In [15]:
d = data.split('\n')
d

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [10]:
print(data[0])

1. Hello World

In [16]:
# write mode
file = open('data1.txt','w')
file.write('Hello World')
file.close()

In [19]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name}\t{price}\t{qty}\t{total}\n"
    
file = open('bill.txt','w')
file.write('Name\tPrice\tQty\tTotal\n')
file.write(bill)
file.close()

Enter n = 2
Enter product name = Apple
Enter price = 300
Enter quantity = 3
Enter product name = Banana
Enter price = 100
Enter quantity = 3

In [20]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name},{price},{qty},{total}\n"
    
file = open('bill.csv','w')
file.write('Name,Price,Qty,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter product name = Apple
Enter price = 400
Enter quantity = 3
Enter product name = Banana
Enter price = 100
Enter quantity = 3

In [21]:
pwd

'C:\\Users\\Aayush\\Python-class-3pm'

In [30]:
#using append mode
file = open('bill1.csv','a')
file.write('Name,Price,Qty,Total\n')

In [31]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name},{price},{qty},{total}\n"
    

file.write(bill)

In [29]:
file.close()

In [32]:
import pandas as pd
df = pd.read_csv('bill1.csv')
df

     Name  Price  Qty   Total
0   Apple  300.0  3.0   900.0
1  Banana  300.0  1.0   300.0
2    Coke  100.0  3.0   300.0
3   Fanta  400.0  3.0  1200.0